@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CV_Send Page<br /></h1>
    <img src="\Images\2.jpg" style="width:100%;
    height:580px;background-position: center;background-size: cover; max-width: 100%;" />
</div>
